<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>navbar</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="../../assets/images/logo.svg" alt="tap30 logo">
            </div>
            <div class="nav__toggler">
                <div class="bar bar-one"></div>
                <div class="bar bar-two"></div>
                <div class="bar bar-three"></div>
            </div>
            <ul class="nav__list-container">
                <li class="list-items">پشتیبانی</li>
                <li class="list-items">خدمات کسب و کارها</li>
                <li class="list-items">فرصت های شغلی</li>
                <li class="list-items">بلاگ</li>
                <li class="list-items">
                    <a href="#" class="btn btn-dark btn-block">دانلود تپسی</a>
                </li>
            </ul>
        </nav>
        
    </header>
    <script src="../../js/main.js"></script>
</body>
</html>